@media(max-width: 1000px) {
  .top-title {
    display: none;
  }
  .top-title-tab {
    display: block;
  }
}

@media(max-width: 670px) {
  .top-title-tab {
    display: none;
  }
  .top-title-smart {
    display: block;
  }

  .fas.header-bars {
    display: inline;
  }
  ul {
    display: none;
  }
}
