.container {
  width: 100%;
  /* padding: 0 15px; */
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(146, 29, 209, 0.8);
}

.top-wrapper {
  height: 500px;
  width: 100%;
  background-color: skyblue;
  background-image: url("backGra.png");
  background-size: cover;
  text-align: center;
}

.main-wrapper {
  height: 600px;
  width: 100%;
  background-color: green;
}

.message-wrapper {
  height: 200px;
  width: 100%;
  background-color: orange;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #CCFFFF;
}

#icon {
  border-radius: 50%;
  float: left;
}

.heading {
  /* background-color: red; */
  margin: 0;
  float: left;
}

ul {
  float: right;
  list-style: none;
}

li {
  float: left;
  margin-right: 20px;
}

top-title-first {
  margin-top: 0;
}

#top-box {
  padding-top: 200px;
}

.top-title {
  color: white;
  letter-spacing: 8px;
  font-size: 50px;
}

.top-title-tab {
  color: white;
  letter-spacing: 8px;
  font-size: 30px;
  display: none;
}

.top-title-smart {
  color: white;
  letter-spacing: 8px;
  font-size: 20px;
  display: none;
}
